.bulletin{
	background-image: url(http://image.naldzgraphics.net/2012/06/13-Corkboard.jpg);
	background-repeat: repeat-y;
	position: absolute;
	right: -30px;
	top: 0px;
	width: 300px;
	height: 100%;
	text-align: center;
	overflow-y: scroll;
	border-left: 10px;
	border-right: 10px;
	border-color: black;
}

body {
	background-color: #d3d3d3;
}


.map img{
 position: absolute;
 right: 375px;
 top: 120px;
 bottom: 0px;
 width: 900px;
 height: 520px;	
}

.jumbotron{
	color: grey;
	background-color: navy;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 5px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 300px;
}


 
.map img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}
 
.map p {
  position: absolute;
  left: 30%;
  width: 100%;
  bottom: 24px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}
